@keyframes fadeIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

html{
    background-color: black;
}

#cover{
    animation: fadeIn ease 2s;
    animation-fill-mode: forwards;
    margin-top: 35vh;
    text-align: center;
}

#title-container{
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
}
#title{
    text-align: center;
    font-family: monospace;
    font-size: 75px;
    font-weight: 300;

    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(242,5,255,1) 0%, rgba(248,69,69,1) 28%, rgba(253,126,44,1) 53%, rgba(255,233,0,1) 78%);
    
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#subtitle {
    text-align: center;
    font-family: monospace;
    font-size: 35px;
    font-weight: 300;
    padding-top: 30px;
    padding-left: 100px;

    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(242,5,255,1) 0%, rgba(248,69,69,1) 28%, rgba(253,126,44,1) 53%, rgba(255,233,0,1) 78%);
    
    text-align: center;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.home-login{
    transition: 0.5s;
    background-color: gray;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid rgb(124, 117, 117) 3px;
    float: right;
}

.home-register{
    transition: 0.5s;
    background-color: gray;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid rgb(124, 117, 117) 3px;
    float: right;

}


.home-register, .home-login:hover{
    background-color: rgb(124, 117, 117);
    cursor: pointer;
}

@keyframes dividerOnload{
    0%{
      width: 0;
      margin-left:50vw
    }
    100%{
      width: 50vw;
      margin-left: 25vw;
    }
  }
  
  .divider{
    height: 3px;
    width:55vw;
    margin-left: 25vw;
    background-color: white;
    display: block;
    animation: dividerOnload ease 2s;
  }

 

  #home-content-one{
    margin-top: 150px;
    padding-top: 150px;
    padding-bottom: 20px;
    animation: fadeIn ease 2s;
    color: white;
    border-radius: 10px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: center;
    background-color: rgb(22, 19, 19);
  }
    #home-content-one h1 {
        font-family: monospace;
        font-size: 50px;
        font-weight: 300;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    #home-content-one p {
        font-family: monospace;
        font-size: 25px;
        font-weight: 300;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    #home-content-two{
      padding-top: 100px;
      animation: fadeIn ease 2s;
      color: white;
      border-radius: 10px;
      border-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      float: center;
      background-color: black;
    }
    #home-content-two h1 {
      font-family: monospace;
      font-size: 50px;
      font-weight: 300;
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  #home-content-two p {
      font-family: monospace;
      font-size: 25px;
      font-weight: 300;
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
#next-section {
    animation: fadeIn ease 2s;
    animation-fill-mode: forwards;
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: monospace;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 100px;
    width: 10%;
    height: 10%;
}
#calltoaction{
  padding-top: 100px;
  animation: fadeIn ease 2s;
  color: white;
  border-radius: 10px;
  border-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: center;
  background-color: black;
}
#calltoaction h1 {
  font-family: monospace;
  font-size: 75px;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, rgba(242,5,255,1) 0%, rgba(248,69,69,1) 28%, rgba(253,126,44,1) 53%, rgba(255,233,0,1) 78%);
}
#calltoaction h3 {
  font-family: monospace;
  font-size: 50px;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, rgba(242,5,255,1) 0%, rgba(248,69,69,1) 28%, rgba(253,126,44,1) 53%, rgba(255,233,0,1) 78%);
}
#calltoaction button {
  font-family: monospace;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
}
.divider2{
  height: 3px;
  width:55vw;
  background-color: white;
  display: block;
  animation: dividerOnload2 ease 2s;
}
@keyframes dividerOnload2{
  0%{
    width: 0;
    margin-left:50vw
  }
  100%{
    width: 50vw;
  }
}